<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Big Text Bot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .jumbotron {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Big Text Bot</h1>
        </div>
    </div>
</body>

</html>